{% extends 'base.html' %}

{% block content %}
<div class='container'>

<div class='row alert alert-secondary mt-3'>
	<div class='col'>
		<blockquote class="blockquote text-center mt-3">
		  <p class="mb-0">{{ quote.quote }}</p>
		  <footer class="blockquote-footer">{{ quote.author }},<cite title="Source Title"> {{ quote.source }}</cite></footer>
		</blockquote>	
	</div>
</div>



<div class='row justify-text-center mb-5 alert button-colour dark-purple-text'>
	<div class='col text-center'>

			<p><h5>{{ about_page_assets.content1 }}</h5></p>

			<p><h5>{{ about_page_assets.content2 }}</h5></p>

			<p><h5>{{ about_page_assets.content3 }}</h5></p>

			<p><h5>{{ about_page_assets.content4 }}</h5></p>


		</p>

	</div>
</div>











</div>
{% endblock %}