{% extends 'base.html' %}

{% block content %}
<div class='container'>

	<div class='row mt-3 mx-auto justify-content-center alert '>

		<div class='col mx-auto text-center'>
			<h3>Connect </h3>
			<p>engplaybook@gmail.com</p>
		</div>


	</div>








</div>
{% endblock %}


