{% extends 'base.html' %}

{% block content %}
<div class='container'>

	<div class='row mt-3 mx-auto justify-content-center alert '>

		<div class='col mx-auto text-center'>
			<h3>Contact Us</h3>
			<p>engplaybook@gmail.com</p>
		</div>


	</div>






<!-- <h1>{{title}}</h1>
 

<p>{{content}}</p>
 -->



</div>
{% endblock %}


