{% extends 'base.html' %}


{% block content %}
{% url 'account:register' as register %}
{% url 'carts:payment-plan' as payment_plans_url %}



<div class='container-fluid'>
	
  <meta name="description" content="Learn about CVs, Cover Letters, Excel, Maths and more.">


	{% if request.user.is_authenticated and request.user.full_access %}
		<blockquote class="blockquote text-center mt-3 alert alert-secondary">
		  <p class="mb-0">{{ quote.quote }}</p>
		  <footer class="blockquote-footer">{{ quote.author }},<cite title="Source Title"> {{ quote.source }}</cite></footer>
		</blockquote>
	{% else %}

		{% if request.user.is_authenticated and not request.user.full_access %}
			<a href='{{ payment_plans_url }}'>
				<div class='col-12 mt-3 text-center alert alert-warning'>
		 			<h4 class='mt-2'>{{ home_page_assets.content2 }}</h4>
			 	</div>
			</a>
		{% else %}
				<!-- button-colour white-text -->
			<a href='{{ register }}'>
				<div class='col-12 mt-3 text-center alert alert-info'>
			 		<h4 class='mt-2'>{{ home_page_assets.content1 }}</h4>
			 		<h3 class='mt-2'><b>{{ home_page_assets.content3 }}</b></h3>
				</div>

				

			</a>
		{% endif %}	
			 

	{% endif %}

</div>


<div class='container'>





<h3 class='mt-3'>Featured Tutorials</h3>
<hr>

<br>



<div class='row'>

	{% for obj in featured_tutorials_qs %}






			<div class='col mt-3'>



			{% include 'pages/snippets/card.html' with instance=obj %}

			

		{% if forloop.counter|divisibleby:3 %}
			</div> </div><div class='row'><div class='col-12'><hr/></div>
		{% elif forloop.counter|divisibleby:3 %}
			</div> </div><div class='row'><div class='col-12'><hr/></div>
		{% else %}
			</div>
		{% endif %}

		
	{% endfor %}



	

	

		
	
	



</div>


<br>
<br>


{% if not request.user.is_authenticated or request.user.is_authenticated and not request.user.full_access %}
	{% include 'carts/snippets/compare-plans.html' with button=False price=product.price %}
	<br>
{% endif %}
















<br>
<br>
<br>
<br>
<br>











</div>
{% endblock %}


