{% extends 'base.html' %}





{% block content %}

{% url 'account:register' as register %}
{% url 'carts:payment-plan' as payment_plans_url %}



<div class='container'>


	<h2 class='mt-3'>Pricing</h2>
	<hr>


	{% if request.user.is_authenticated and request.user.full_access %}
		<blockquote class="blockquote text-center mt-3 alert alert-secondary">
		  <p class="mb-0">{{ quote.quote }}</p>
		  <footer class="blockquote-footer">{{ quote.author }},<cite title="Source Title"> {{ quote.source }}</cite></footer>
		</blockquote>
	{% else %}

		{% if request.user.is_authenticated and not request.user.full_access %}
			<a href='{{ payment_plans_url }}'>
				<div class='col-12 mt-3 text-center alert alert-warning'>
		 			<h4 class='mt-2'>{{ home_page_assets.content2 }}</h4>
			 	</div>
			</a>
		{% else %}
				<!-- button-colour white-text -->
			<a href='{{ register }}'>
				<div class='col-12 mt-3 text-center alert alert-info'>
			 		<h4 class='mt-2'>{{ home_page_assets.content1 }}</h4>
				</div>
			</a>
		{% endif %}	
			 

	{% endif %}



	{% include 'carts/snippets/compare-plans.html' with button=False price=product.price %}



</div>
{% endblock %}