{% extends 'base.html' %}

{% block content %}
<div class='container'>

	<div class='row mt-3 '>

		<div class='col '>

			<h2 class='mt-3'>Privacy Policy</h2>
			<hr>


				{% autoescape off %}
					<p>{{ asset.content1 }}</p>
				{% endautoescape %}



		</div>


	</div>








</div>
{% endblock %}