{% extends 'base.html' %}


{% block content %}
<div class='container'>

<h2 class='mt-3'>Tutorials</h2>
<hr>


<div class='row '>
	{% for obj in object_list %}
		


<div class='col mt-3 '>

		<!-- {{ forloop.counter }} -->

			{% include 'pages/snippets/card.html' with instance=obj %}


			{% if forloop.counter|divisibleby:3 %}

				</div> </div><div class='row '><div class='col-12'><hr/></div>

			{% elif forloop.counter|divisibleby:3 %}
				
				</div> </div><div class='row  '><div class='col-12'><hr/></div>

			{% else %}

		</div>


			{% endif %}





		
	{% endfor %}
</div>



</div>
{% endblock %}