{% extends 'base.html' %}





{% block sidebar %}
{% endblock %}

	



{% block content %}
<div class='container-fluid'>

{% if request.user.is_authenticated and request.user.full_access or object.is_free %}



	<div class='row'>

		<div class='order-1 order-md-1 col-12 col-md-2 border-right py-3 bg-sidebar-light '>
			<div class='d-sm-none d-md-block d-none d-sm-block'> <!-- To disapear when the screeen gets smaller -->
			
				<!-- <h3>Contents</h3> -->
				<div class="list-group">

					

					<a href="{{ sub_category.get_absolute_url }}" class="list-group-item list-group-item-action">Back</a>

				{% for sidebar_obj in sidebar_qs%}

						{% if sidebar_obj == object %}

							<a href="{{ sidebar_obj.get_absolute_url }}" class="list-group-item list-group-item-action dark-purple white-text">{{sidebar_obj.title}}</a>

						{% else %}

							<a href="{{ sidebar_obj.get_absolute_url }}" class="list-group-item list-group-item-action ">{{sidebar_obj.title}}</a>

						{% endif %}

				{% endfor %}

			
				</div>
			</div>
		</div>




		

		<div class='order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3'>

			<h2>{{ object.title }}</h2>
			<hr>

			<!-- Video -->
			<!-- <div class="embed-responsive embed-responsive-16by9">
				<p><iframe class="embed-responsive-item" src="{{ object.video_link }}"></iframe></p>
			</div>

			<br>
		
			<p>{{ object.content }}</p>


			<p>{{ object.text1 }}</p>
			

			{% if image1 %}
			<div class='d-flex justify-content-center'>
				<p><img class="img-fluid" src="{{ object.image1.url }}" alt="Responsive image"></p>
			</div>
			{% endif %}
			

			<p>{{ object.text2}}</p>

			{% if image3 %}
			<div class='d-flex justify-content-center'>
				<p><img class="img-fluid" src="{{ object.image2.url }}" alt="Responsive image"></p>
			</div>
			{% endif %}
			



			<p>{{ object.text3 }}</p>

			{% if image3 %}
			<div class='d-flex justify-content-center'>
				<p><img class="img-fluid" src="{{ object.image3.url }}" alt="Responsive image"></p>
			</div>
			{% endif %}



			<p>{{ object.text4 }}</p>

			{% if image4 %}
			<div class='d-flex justify-content-center'>
				<p><img class="img-fluid" src="{{ object.image4.url }}" alt="Responsive image"></p>
			</div>
			{% endif %} -->

			

			{% for content in object.get_content %}
			<div class='row'>

				{% if content.video_link %}
				<!-- <div class='col-12 col-md-10 mx-auto'>	 -->
				<div class='{{ content.video_link_col_params }}'>					
						<div class="embed-responsive embed-responsive-16by9">
						<p><iframe class="embed-responsive-item" src="{{ content.video_link }}"></iframe></p>
						</div>
						<br>
						<!-- {% autoescape off %}
							{{ content.video_link }}
						{% endautoescape %} -->
				</div>
				{% endif %}


				{% if content.image %}
				<!-- <div class='col-12 col-md-5 mx-auto'> -->
				<div class='{{ content.image_col_params }}'>	
						<div class='d-flex justify-content-center'>
							<p><img class="img-fluid" src="{{ content.image.url }}" alt="Responsive image"></p>
						</div>
				</div>
				{% endif %}


				{% if content.text %}
				<!-- <div class='col-12 mx-auto'> -->
				<div class='{{ content.text_col_params }}'>
						<p>{{ content.text }}</p>
				</div>
				{% endif %}


				{% if content.html_text %}
				<!-- <div class='col-12 mx-auto'> -->
				<div class='{{ content.html_text_col_params }}'>
					{% autoescape off %}
						<p>{{ content.html_text }}</p>
					{% endautoescape %}
				</div>
				{% endif %}

				

			</div>


			<br>
			{% endfor %}

			







			<br>
			<br>



			{% if object.get_downloads %}

				<h3>Downloadable Resources</h3>
				<hr>

				{% for download in object.get_downloads %}
					<a href='{{ download.get_download_url }}'><p>{{ download.display_name }}</p></a>
				{% endfor %}

			{% endif %}





			






	



		</div>


	</div>







{% else %}

	<!-- <meta http-equiv="REFRESH" content="0;url={% url 'account:login' %}"> -->



	<div class='row mt-5 mb-5 justify-content-center'>
		<h1>This tutorial is only available to premium members.</h1>
	</div>

	<div class='row mt-5 mb-5	 justify-content-center'>
		<a href="{% url 'account:register' %}" class=" btn btn-danger">Get Premium Membership</a>
	</div>


{% endif %}




</div>
{% endblock %}




