<!-- <style>
.btn-outline-success{
	color: #2fc5ac;

}
</style> -->

<!-- <form method='GET' action='{% url "search:query" %}'class="form my-2 my-lg-0 search-form"> -->
<form method='GET' action='{% url "search:query" %}'class="form my-2 my-lg-0 ">

	<div class='input-group'>	

	<input class="form-control" type="search" placeholder="Search" name='q' aria-label="Search" value='{{request.GET.q}}'>
      <span class='input-group-btn'>
      	<button class="btn button-colour white-text" type="submit">Search</button>
  	  </span>

  	 </div>
</form>