{% url 'carts:payment-plan' as payment_plans %}
{% url 'billing:billing-payment-method' as payment_method %}
{% url 'carts:confirm_purchase_view' as confirm_purchase %}
{% url 'carts:success' as payment_success %}


<!-- orange #FFC966 -->

<!-- green #abff61 -->

<!-- darker green #66993a -->

<!-- red #ea5252 -->


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'billing/style.css' %}">

<!-- style='background-color: #181238' -->

<!-- style='color: #FFFFFF' -->

<nav class="breadcrumb breadcrumb-colour" 	>
  <span class="breadcrumb-item white-text" >{% if request.path == payment_plans %}<u><b>Payment plans</b></u>{% else %}Payment plans{% endif %}</span>
  
  <span class="breadcrumb-item  white-text" > {% if request.path == payment_method %}<u><b>Payment options</b></u>{% else %}Payment options{% endif %}</span>

  <span class="breadcrumb-item white-text" >{% if request.path == confirm_purchase %}<u><b>Payment confirmation</b></u>{% else %}Payment confirmation{% endif %}</span>

  <span class="breadcrumb-item white-text" >{% if request.path == payment_success %}<u><b>Payment successful</b></u>{% else %}Payment successful{% endif %}</span>

</nav>