{% url 'pages:contact' as contact_page_url %}
{% url 'pages:about' as about_page_url %}
{% url 'pages:connect' as connect_page_url %}


<div class='container-fluid mt-3 mb-2'>



	<div class='row justify-text-center mb-2'>
		<div class='col text-center'>
			<a href='{{ about_page_url }}'>About</a>
			·
			<a href='{{ contact_page_url }}'>Contact</a>
			·
			<a href='{{ connect_page_url}}'>Connect</a>
			·
			<a href="{% url 'pages:privacy_policy' %}">Privacy Policy</a>

		</div>
	</div>


	<div class='row justify-text-center'>
		<div class='col text-center  '>
			© Copyright · engplaybook.com
		</div>
	</div>

</div>