{% url 'pages:home' as home_page_url %}
{% url 'pages:about' as about_page_url %}
{% url 'pages:contact' as contact_page_url %}
{% url 'pages:pricing' as pricing_page_url %}




{% url 'account:login' as login %}
{% url 'account:register' as register %}
{% url 'account:home' as account_home_url %}



{% url 'logout' as logout %}




<!-- navbar navbar-expand-lg navbar-light bg-light -->

<!-- style='background-color: #181238' -->


<nav class="navbar navbar-expand-lg navbar-dark nav-bar-color "     >
  <!-- <a class="navbar-brand" href="#">
    <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a> -->
  <a class="navbar-brand blue-color" href="{{home_page_url}}"><b>{% if brand_name %}{{brand_name}}{% endif %}</b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">


      <li class="nav-item dropdown mr-3 ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Topics
        </a>


        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          {% for category in categories_qs %}
            <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
          {% endfor %}

           <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>



            
            


     
        {% include 'search/snippets/search-form.html' %}
      
            


      </ul>






      <ul class="navbar-nav ml-auto mr-3">


     <!--  <li class="nav-item {% if request.path == home_page_url %}active{% endif %}">
        <a class="nav-link" href="{{home_page_url}}">Home <span class="sr-only">(current)</span></a>
      </li> -->

      

      <li class="nav-item {% if request.path == pricing_page_url %}active{% endif %}">
        <a class="nav-link "  href="{{pricing_page_url}}">Pricing</a>
      </li>

      <li class="nav-item {% if request.path == about_page_url %}active{% endif %}">
        <a class="nav-link "  href="{{about_page_url}}">About</a>
      </li>

      <li class="nav-item {% if request.path == contact_page_url %}active{% endif %}">
        <a class="nav-link" href="{{contact_page_url}}">Contact</a>
      </li>


      
      
   
    
    

       {% if request.user.is_authenticated %}
         <!-- <li class="nav-item {% if request.path == login %}active{% endif %} ml-auto">
          <a class="nav-link" href="{{ logout }}">Logout</a>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ account_home_url }}">Home</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ logout }}">Logout</a>
          </div>
        </li>

      {% else %}
         <li class="nav-item {% if request.path == register %}active{% endif %}">
          <a class="nav-link" href="{{ register }}">Register</a>
         </li>
        <li class="nav-item {% if request.path == login %}active{% endif %}">
          <a class="nav-link" href="{{ login }}">Login</a>
        </li>
      {% endif %}


    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    


    

    

  </div>
</nav>