<!-- sending the sub_category safe_title through in the url -->
{% url 'account:register' as register %}
{% url 'pages:tutorials_list' sub_category=instance.slug as tutorials_list_url %}
{% url 'carts:payment-plan' as payment_plans_url %}





<div class="card" style="width: 18rem; ">

  {% if instance.image %}
    <img class="card-img-top" src="{{ instance.image.url }}" alt="Card image cap">
  {% endif %}
  
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    
    {% if instance.short_description %}
      <p class="card-text">{{ instance.short_description }}</p>
    {% endif %}

    {% if instance.is_sub_category %}
      <a href="{{ tutorials_list_url }}" class="btn button-colour white-text">View</a>
    {% else %}

      {% if request.user.is_authenticated and request.user.full_access or instance.is_free  %}
        <a href="{{ instance.get_absolute_url }}" class="btn button-colour white-text">View</a>
      {% elif request.user.is_authenticated and not request.user.full_access %}
        <a href="{{ payment_plans_url }}" class=" btn btn-danger">Get Premium</a>
      {% else %}
        <a href="{{ register }}" class=" btn btn-danger">Get Premium</a>
      {% endif %}
      
    {% endif %}

    {% if not instance.is_sub_category and request.user.admin %}
    <div class='mt-2'>
      <form class='form ' method='POST' action="">{% csrf_token %}
        <input type='hidden' name='tutorial_slug' value='{{ instance.slug }}' />
                <button type='submit' class='btn  btn-warning' >Move up</button>
        </form>
    </div>
    {% endif %}

   

  </div>
</div>


