{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>

            <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145895633-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145895633-1');
      </script>



      
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Engineering Play Book</title>
        {% include 'base/css.html' %}


        {% block base_head %}

        {% endblock %}

    </head>

    <body>

      <!-- This is so i cna chose to hide the nav bar - for example in the payment pages -->
      {% block navbar_wrapper %}
        {% if navbar != False %}
            {% block navbar %}
                {% include 'base/navbar.html' with brand_name='Engineering Play Book' %}
            {% endblock %}
        {% endif %}
      {% endblock navbar_wrapper %}
    

        
      
          {% block sidebar %}

          {% endblock %}








        {% if messages %}
          <div class="alert alert-success messages">
            {% for message in messages %}
              <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                  {{ message }}<br/>
              </span>
            {% endfor %}
          </div>
        {% endif %}







      		{% block content %}

      		{% endblock %}







          
          {% include 'base/footer.html' %}
         

          


          {% include 'base/js.html' %}








        {% block javascript %}


        {% endblock %}












        
    </body>
</html>


<style>






.button-colour {
  background-color: #2bc1a8;
}

.white-text{
  color: #FFFFFF;
}
.btn:hover{
  color: #181238;
}


.dark-purple{
  background-color: #181238
}




/*nav bar*/
.nav-bar-color {
  background-color: #181238 ;
}

.dark-purple-text{
  color: #181238;
}

.white-color {
  color: #FFFFFF;
} 


.blue-color{
  color:#2fc5ac;
}


</style>
