{% extends 'base.html' %}




<!-- This hides the normal nav bar -->
{% block navbar_wrapper %}
	{% with navbar=False %}
		{{block.super}}
	{% endwith %}
{% endblock navbar_wrapper %}



{% block content %}
<div class='container-fluid'>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'carts/style.css' %}">	


	{% include 'billing/snippets/payment-breadcrumbs.html'  %}

	<h6>STEP 3 OF 4<h6>
	<h4><b>Confirm your purchase.</b></h4>


</div>




<div class='container'>


<!-- <h1>Confirm Purchase</h1> -->
<br>

<!-- justify-content-center -->

<div class='row  alert  '>


	<div class='col-sm-12 col-md-8 alert '>

		<h5><b>Order Details</b></h5>
		<hr>

		<p>Card: {{ card.brand }} {{ card.last4 }}</p>

		<p>Order Total: £ {{ order.total }}</p>

		<p>Access Type: Premium</p>

		<P>Access Expires: Never</P>

	</div>

		


	<div class='col-sm-12 col-md-4  alert  '>
		

		<h5 ><b>Order Summary</b></h5>
		<hr>

		<p>Order Total: £ {{ order.total }}</p>

		<p>Delivery: Free </p>

		<p style='color:#FFFFFF'>Enjoy your Purchase</p>

		<!-- purple #8533ff -->

		<!-- style='background-color: #7bc6bc; color: #FFFFFF -->
		
		<form class='form ' method='POST' action="">{% csrf_token %}
                <button type='submit' class='btn  btn-block' >Pay Now</button>
        </form>
	    	

       
	</div>

	


</div>




</div>
{% endblock %}
