{% extends 'base.html' %}



{% block content %}
{% url 'pages:home' as home_page_url %}
<div class='container'>

<div class='row mt-5 mb-5 justify-content-center'>
	<h1>Payment Successful!</h1>
</div>

<div class='row mt-5 mb-5	 justify-content-center'>
	<a href="{{ home_page_url }}" class=" btn btn-primary">Return to home</a>
</div>






</div>
{% endblock %}