{% extends 'base.html' %}


<!-- This hides the normal nav bar -->
{% block navbar_wrapper %}
	{% with navbar=False %}
		{{block.super}}
	{% endwith %}
{% endblock navbar_wrapper %}






{% block content %}
<div class='container-fluid ' >


{% include 'billing/snippets/payment-breadcrumbs.html'  %}

<h6>STEP 1 OF 4</h6>
<h4><b>Compare plans</b></h4>

</div>

	<div class='container' >

		<div class='row mt-3 mb-3' >

			{% include 'carts/snippets/compare-plans.html' with button=True price=product.price %}

		</div>

	</div>



{% endblock %}