{% extends 'base.html'  %}





<!-- This hides the normal nav bar -->
{% block navbar_wrapper %}
	{% with navbar=False %}
		{{block.super}}
	{% endwith %}
{% endblock navbar_wrapper %}




{% block content %}





<div class='container-fluid'>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'billing/style.css' %}">	



{% include 'billing/snippets/payment-breadcrumbs.html'  %}

<h6>STEP 2 OF 4<h6>
<h4><b>Choose your payment method.</b></h4>


<!-- Stripe form -->

	<div class='col'>





		<!-- <div class='row mt-3 justify-content-center alert ' >
			<div class='col  col-md-6  '>


				<div class='row justify-content-center'>
					<img class='mb-3' src="{{ objects.image3.url }}">
				</div>

				
				<div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{% if next_url %}{{ next_url }}{% endif %}' data-btn-title='Add Card' ></div>
			
				
			</div>
		</div>





		<div class='row'>

			<div class='col '>
			<div class='row row-colour' >
				<h4></h4>
			</div>
			</div>

			<div class='col-3 col-md-1  text-center'>
			
				<h5>OR</h5>
			
			</div>

			<div class='col'>
			<div class='row row-colour' >
				<h4></h4>
			</div>
			</div>


		</div> -->


	

	<div class='row'>

		<!-- style='background-color: #505763' -->

		<div class='col mt-3 alert' >


			<div class='row  mb-3 justify-content-center'>

				<img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_111x69.jpg" border="0" alt="PayPal Logo">

			</div>



			<div class='row justify-content-center'>

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="FLKLT7DN34G7S">
					<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
				</form>
				
			</div>




		</div>


	</div>	


	</div>



</div>
{% endblock %}