
<!-- <form class='form-product-ajax' method='POST' action='{% url "carts:update" %}' data-endpoint='{% url "carts:update" %}' class="form"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' />
    
    

    <span class='submit-span'>
        <button type='submit'  class='btn btn-success btn-block'>{{ product.description }}</button>
    </span>


</form> -->


{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'product/style.css' %}"> -->


<form class='' method='POST' action='{% url "carts:update" %}' data-endpoint='{% url "carts:update" %}' class="form"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' />
    
    <!-- style='background-color: #34314f' -->
  
  <!-- style='background-color: #7bc6bc; color: #FFFFFF	' -->

    <span class='submit-span'>
        <button type='submit'  class=' btn btn-block button-colour white-text '  >{{ product.description }}</button>
    </span>


</form>

