{% extends 'base.html' %}



{% block content %}

<div class='container'>

	<div class='row justify-content-center justify-content-md-start  mb-5 '>
		<h2 class=' mt-3'>Account Details</h2>
	</div>


	<div class='row mb-5 justify-content-center'>

		<table class="table ">
		  <thead>

		    <!-- <tr>
		      <th scope="col">#</th>
		      <th scope="col">First</th>
		      <th scope="col">Last</th>
		      <th scope="col">Handle</th>
		    </tr> -->

		  </thead>
		  <tbody>

		    <tr>
		      <th scope="row"></th>
		      <td>First Name</td>
		      <td>{{ request.user.first_name }}</td>
		    </tr>

		    <tr>
		      <th scope="row"></th>
		      <td>Last Name</td>
		      <td>{{ request.user.last_name }}</td>
		    </tr>

		    <tr>
		      <th scope="row"></th>
		      <td>Email</td>
		      <td>{{ request.user.email }}</td>
		    </tr>

		    <tr>
		      <th scope="row"></th>
		      <td>Password</td>
		      <td><a href='{% url "password_change" %}'>Change Password</a></td>
		    </tr>

		    <!-- <tr>
		      <th scope="row">3</th>
		      <td colspan="2">Larry the Bird</td>
		      <td>@twitter</td>
		    </tr> -->

		  </tbody>
		</table>




		
	</div>





</div>


{% endblock %}