{% extends 'base.html' %}




{% block content %}
{% url 'account:login' as login %}
<div class='container'>

<h2 class='mt-2'>Register</h2>

<hr>

<div class='row justify-content-center'>
	<div class='col-12 col-sm-8 col-md-6'>

		<h1 class="h3 mb-3 font-weight-normal text-center ">Please register</h1>



		<form method='POST'> {% csrf_token %}
			<!-- {{ form }} -->
			
			<!-- {{ form.non_field_errors }}
			<div class="fieldWrapper">
				{{ form.full_name.errors }}
				<label for="{{ form.full_name.id_for_label }}">Full Name:</label>
				{{ form.full_name }}
			</div> -->

			

				<div class="fieldWrapper mt-1">
					{{ form.first_name.errors }}
					<!-- <label for="{{ form.first_name.id_for_label }}">First Name:</label> -->
					{{ form.first_name }}
				</div>

				<div class="fieldWrapper mt-1">
					{{ form.last_name.errors }}
					<!-- <label for="{{ form.last_name.id_for_label }}">Last Name:</label> -->
					{{ form.last_name }}
				</div>

				<div class="fieldWrapper mt-1">
					{{ form.email.errors }}
					<!-- <label for="{{ form.email.id_for_label }}">Email:</label> -->
					{{ form.email }}
				</div>

				<div class="fieldWrapper mt-1">
					{{ form.password1.errors }}
					<!-- <label for="{{ form.password1.id_for_label }}">Password:</label> -->
					{{ form.password1 }}
				</div>

				<div class="fieldWrapper mt-1">
					{{ form.password2.errors }}
					<!-- <label for="{{ form.password2.id_for_label }}">Confirm Password:</label> -->
					{{ form.password2 }}
				</div>

			

				<button type='submit' class='btn btn-lg button-colour white-text btn-block mt-2'>Submit</button>

		</form>

		<div class='mt-1 text-right'>
			Already have an account? <a href="{{ login }}" >Log in</a>
		</div>



	</div>

</div>
</div>
{% endblock %}