<!-- {% url 'account:register' as url_destination %} -->  
<!-- {% url url_dest as url_destination %} -->


<div class='container'>

<div class='row'>

<div class='col'>

<div class="table-responsive">
<table class="table">

  <thead>
    <tr class="">
      <th scope="col">#</th>
      <th scope="col">Free</th>
      <th scope="col">Premium</th>

      
    </tr>
  </thead>

  <tbody>


    <tr>
      <th scope="row">Price</th>
      <td style='color:#A0A0A0'>Free</td>
      <td>£ {{ price }}</td>
    </tr>

    <tr>
      <th scope="row">Free Content</th>
      <td style='color:#A0A0A0'>Yes</td>
      <td >Yes</td>
    </tr>

    <tr>
      <th scope="row">Premium Content</th>
      <td style='color:#A0A0A0'>No</td>
      <td>Yes</td>
    </tr>

    <tr>
      <th scope="row">Lifetime Access</th>
      <td style='color:#A0A0A0'>No</td>
      <td>Yes</td>
    </tr>

    <tr>
      <th scope="row">Access to New Content</th>
      <td style='color:#A0A0A0'>No</td>
      <td>Yes</td>
    </tr>

    <tr>
      <th scope="row ">Downloadable Resources</th>
      <td style='color:#A0A0A0'>No</td>
      <td>Yes</td>
    </tr>


	{% if button %}
	    <tr>
	      <td colspan="3">{% include 'product/snippets/update-cart.html' with product=product cart=cart %}</td>
	    </tr>
  {% endif %}

  </tbody>
</table>
</div>




</div>

</div>

</div>
































