{% extends "base.html" %}



{% block content %}
<div class='container'>

		<div class='row mb-3'>

		{% if query %}	
			<div class='col-12 mt-3'>
				Showing results for <b> {{ query }}</b>
			</div>
			{% else %}

			<div class='col-12 col-md-6 mx-auto py-5'>
				{% include 'search/snippets/search-form.html' %}
			</div>

			<div class='col-12'>
				{% if query == "" %}
				<h3>Featured Tutorials</h3>
				{% endif %}
				<hr>
			</div>		

		{% endif %}

	</div>
	
		<div class='row'>

			


	{% for obj in object_list %}
		<div class='col'>

		
		{% include 'pages/snippets/card.html' with instance=obj %}




		{% if forloop.counter|divisibleby:3 %}
		</div> </div><div class='row'><div class='col-12'><hr/></div>
		{% elif forloop.counter|divisibleby:3 %}
		</div> </div><div class='row'><div class='col-12'><hr/></div>

		{% else %}

		</div>
		{% endif %}


		
	{% endfor %}
</div>

</div>
{% endblock %}



