<p>Hello,</p>

<p>Please activate your account for {{email}} by clicking the link below:</p>

<p><a href='{{ path }}'>{{ path }}</a></p>

<p>Once you activate, you can login!</p>



<p>Click or copy the link below to download you free CV template.</p>

<p>https://www.engineeringstudentplaybook.com/category/sub-category/tutorial/file/how-to-write-a-cv/13/</p>



<p>Thank you,</p>

<p>Engineering Play Book Team</p>